
.container {
    --containerGap: 30px;
    display: flex;
    gap: var(--containerGap);
}

.extra,
.content {
    width: calc(50% - var(--containerGap) / 2);
}

.extra {
    display: flex;
    justify-content: center;
}